<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Profile Page</h1>
    <form action='/users/profile/<%= id %>?_method=PUT' method="POST">
        name: <input type="text" name='name' value='<%= user.name %>'>
        username: <input type="text" name='username' value='<%= user.username %>'>
        password: <input type="text" name='password' value='<%= user.password %>'>
        email: <input type="text" name='email' value='<%= user.email %>'>
        <input type="submit" value='edit'>
    </form>
</body>
</html>