<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Profile Page</h1>
    <div class="profile">
    <form action='/users/profile/<%= user.id %>?_method=PUT' method="POST">
        name: <input type="text" name='name' value='<%= user.name %>'>
        <br>
        username: <input type="text" name='username' value='<%= user.username %>'>
        <br>
        password: <input type="text" name='password' value='<%= user.password %>'>
        <br>
        email: <input type="text" name='email' value='<%= user.email %>'>
        <br>
        location: <input type="text" name='location' value='<%= user.location %>'>
        <br>
        <select name="tree">
            <% for ( let i = 0; i < trees.length; i++ ) {
                let selected = ( i == 0 ) ? "selected" : "";
            %>
                <option value="<%=trees[i].id%>" <%=selected%>><%=trees[i].name%>
                </option>
           <% } %>
        </select>
        <br>
        <input type="submit" value='edit user'>
    </form>
    <form action="/users/<%=user.id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
    </form>
    
    <h3>This user likes these trees:</h3>
    <% for (let i=0; i< user.Trees.length; i++){ %>
        <li>
            <a href="/trees/<%=user.id%>/<%=user.Trees[i].id%>"><%=user.Trees[i].name%></a>
            <form action="/users/tree/<%=user.id%>/<%=user.Trees[i].id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE"/>
            </form>
        </li>
        <br>
    <% } %>
    <a href="/trees/<%=user.id%>"> See all the trees </a> <br>
    <a href="/users"> Log out</a>
    </div>
</body>
</html>